@{
    ViewData["Title"] = "ClinicManager";
}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">ClinicManager</h1>
        <p class="col-md-8 fs-4">System zarządzania przychodnią medyczną: pacjenci, wizyty, procedury, recepty, raporty PDF i testy wydajnościowe.</p>
        <a class="btn btn-primary btn-lg" href="/swagger">Otwórz Swagger / OpenAPI</a>
    </div>
</div>
